
 <router-outlet>
  <!DOCTYPE html>
  <html lang="PT-BR">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="src/app.componentes">
      <link rel="stylesheet" href="app.component.css">
      <title>SobreMim</title>
    </head>
    <body class="fundo">
      <div class="corpo">
        <div class= "divfoto"><img src="foto.png" class= "foto" ></div>
        <p class="categoria">Nome:</p>
        <p>Alex Vitor De Queiroz Gomes</p>
        <p class="categoria">Curso:</p>
        <p>Desenvolvimento de Sistemas (DS)</p>
        <p class="categoria">Objetivo Profissional:</p>
        <p>
          Conseguir um estagio para experiência,
          para que um dia possa trabalhar em uma grande
          impressa como a Google, a Microsoft ou a Meta.
        </p>
        <p class="categoria">Hobbies:</p>
        <p>
          Luto Wrestling <br>Amante de Jogos <br>Cozinhar <br>
        </p>
        <div><a href="https://github.com/Alitor004" target="_blank"><img src="github.png" class="icon"></a></div>
        <div><a href="www.linkedin.com/in/alitor004" target="_blank"><img src="linkedin.png" class="icon"></a></div>
        
      </div>
    </body>
  </html>

</router-outlet>
